<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tawkto_test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FE5CDE22C593D580043613E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE5CDF82C593D5A0043613E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE5CE022C593D5A0043613E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
